<html>
<head>
<script type="text/javascript"  src="/static/dygraph-combined.js"></script>
</head>
<body>
  <div align="center">
    <input id='ylog' type="button" value="toggle log scale" onclick="toggleLogScale()">
  </div>
<div id="features"></div>
<div align="center">
  <p>
    selected photo: <span id="photo_id"></span>
  </p>
  <img id="photo" src=""/></div>
</div>
<script type="text/javascript">
  var isStacked = false;
  var logy = false;
  var g = new Dygraph(
    document.getElementById("features"),
    "/data/business/{{  biz_id }}",
    {
        width: 1800,
        height: 500,

        drawPoints: true,
        strokeWidth: 0,

        stackedGraph: isStacked,
        showLabelsOnHighlight: false,

        logscale: false,

        highlightCircleSize: 2,
        strokeWidth: 1,
        strokeBorderWidth: isStacked ? null : 1,

        highlightSeriesOpts: {
          strokeWidth: 3,
          strokeBorderWidth: 1,
          highlightCircleSize: 5
        }
      }
  );
  var toggleLogScale = function() {
        logy = !logy;
        g.updateOptions({ logscale: logy });
      };
    var onclick = function(ev) {
      if (g.isSeriesLocked()) {
        g.clearSelection();
      } else {
        var photo_id = g.getHighlightSeries();
        document.getElementById("photo_id").textContent = photo_id;
        document.getElementById("photo").setAttribute("src", "/static/train_photos/"+photo_id+".jpg");
        g.setSelection(g.getSelection(), photo_id, true);
      }
    };
    g.updateOptions({clickCallback: onclick}, true);
</script>
</body>
</html>
